<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HealthStatus</title>
    <meta http-equiv="refresh" content="60" >
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
      .navbar-inner .brand {
        margin: 0 10px;
      }
      div.title {
        white-space: nowrap;
      }
      div.row {
        padding: 2px 0px;
      }
      div.status {
        white-space: nowrap;
        letter-spacing: -3px;
      }
      div.status span {
        padding: 5px 2px;
        letter-spacing: normal;
      }
      hr {
        margin: 10px;
      }
      .alert {
        padding: 2px;
        margin: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      a.alert {
        border: 0;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="brand muted"><a href="/">HealthStatus</a></div>
        <ul class="nav pull-right">
          <li class="active"><a href="#timezones" data-toggle="modal"><%= @timezone %></a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span2">Service/App/Metric</div>
        <div class="span6">Hourly</div>
        <div class="span4">Daily</div>
      </div>
      <% @status.each { |service| %>
      <hr/>
      <div class="row" id="service-<%= service[:id] %>">
        <div class="span2 title">
          <div class="<%= row_class(service[:current_status]) %>">
            <a class="accordion-toggle <%= row_class(service[:current_status]) %>" data-toggle="collapse" data-parent="#service-<%= service[:id] %>" href="#apps-<%= service[:id] %>">
              <strong style="font-size: x-large"><%= service[:name] %></strong>
            </a>
          </div>
        </div>
        <div class="span6 status">
          <% service[:hourly_status].reverse.each { |data| %>
          <span class="<%= label_class(data[:status]) %>">
            <%= data[:datetime].strftime("%H") %>
          </span>
          <% } %>
        </div>
        <div class="span4 status">
          <% service[:daily_status].reverse.each { |data| %>
          <span class="<%= label_class(data[:status]) %>">
            <%= data[:datetime].strftime("%m/%d") %>
          </span>
          <% } %>
        </div>
      </div>

      <div class="accordion-body collapse in" id="apps-<%= service[:id] %>">
        <% service[:applications].each { |app| %>
        <div class="row" id="app-<%= app[:id] %>">
          <div class="span2 title">
            <div class="<%= row_class(app[:current_status]) %>" style="margin-left:10px">
              <a class="accordion-toggle <%= row_class(app[:current_status]) %>" data-toggle="collapse" data-parent="#app-<%= app[:id] %>" href="#metrics-<%= app[:id] %>">
                <strong><%= app[:name] %></strong>
              </a>
            </div>
          </div>
          <div class="span6 status">
            <% app[:hourly_status].reverse.each { |data| %>
            <span class="<%= label_class(data[:status]) %>">
              <%= data[:datetime].strftime("%H") %>
            </span>
            <% } %>
          </div>
          <div class="span4 status">
            <% app[:daily_status].reverse.each { |data| %>
            <span class="<%= label_class(data[:status]) %>">
              <%= data[:datetime].strftime("%m/%d") %>
            </span>
            <% } %>
          </div>
        </div>

        <% unless app[:metrics].nil? %>
        <div class="accordion-body collapse" id="metrics-<%= app[:id] %>">
          <% app[:metrics].each { |metric| %>
          <div class="row" id="metric-<%= metric[:id] %>">
            <div class="span2 title">
              <div class="<%= row_class(metric[:current_status]) %>" style="margin-left:20px">
                  <%= metric[:name] %>
              </div>
            </div>
            <div class="span6 status">
              <% metric[:hourly_status].reverse.each { |data| %>
              <span class="<%= label_class(data[:status]) %>">
                <%= data[:datetime].strftime("%H") %>
              </span>
              <% } %>
            </div>
            <div class="span4 status">
              <% metric[:daily_status].reverse.each { |data| %>
              <span class="<%= label_class(data[:status]) %>">
                <%= data[:datetime].strftime("%m/%d") %>
              </span>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
        <% end %>

        <% } %>
      </div>

      <% } %>
    </div> <!-- /container -->

    <div id="timezones" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aaa" aria-hiden="true">
      <div class="modal-header">
        Choose Time Zone
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
          <% @zones.each { |k, v| %>
          <li <%= "class=\"active\"" if v["string"] == @timezone  %>>
            <a href="/?timezone=<%= v["encode"] %>"><%= k %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="modal-footer">

      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script>$(function () {
      $("#timezones").on('shown', function() {
        var modal_scrollpos = $("#timezones li.active:first").position().top - 250;
        $("#timezones .modal-body").scrollTop(modal_scrollpos);
      });
      $("#timezones").on('hide', function() {
        $("#timezones .modal-body").scrollTop(0);
      });
    });</script>

  </body>
</html>


