<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HealthStatus</title>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="brand muted"><a href="/">HealthStatus</a></div>
        <ul class="nav">
          <li><a id="refresh" href="#"><i class="icon-refresh"></i>Refresh</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="active"><a href="#timezones" data-toggle="modal"><%= @timezone %></a></li>
        </ul>
      </div>
    </div>

    <div id="main-container" class="container">
    </div> <!-- /container -->

    <div>
      <div class="row service-row shown-row hide" id="service-ID">
        <div class="span2 status-title">
          <div class="alert alert-info" rel="tooltip" data-placement="right">
            <a class="accordion-toggle alert alert-info" data-toggle="collapse" data-parent="#service-ID" href="#service-ID-applications">
              <strong></strong>
            </a>
          </div>
        </div>
        <div class="span6 status-hourly">
          <% 25.times { %>
          <span class="label">00</span>
          <% } %>
        </div>
        <div class="span4 status-daily">
          <% 8.times { %>
          <span class="label">00/00</span>
          <% } %>
        </div>
      </div>

      <div class="service-accordion accordion-body collapse hide" id="service-ID-applications"></div>
      <div class="row application-row hide" id="application-ID">
        <div class="span2 status-title">
          <div class="alert alert-info" style="margin-left:10px" rel="tooltip" data-placement="right">
            <a class="accordion-toggle alert alert-info" data-toggle="collapse" data-parent="#application-ID" href="#application-ID-metrics">
              <strong></strong>
            </a>
          </div>
        </div>
        <div class="span6 status-hourly">
          <% 25.times { %>
          <span class="label">00</span>
          <% } %>
        </div>
        <div class="span4 status-daily">
          <% 8.times { %>
          <span class="label">00/00</span>
          <% } %>
        </div>
      </div>

      <div class="application-accordion accordion-body collapse hide" id="application-ID-metrics"></div>
      <div class="row metric-row hide" id="metric-ID">
        <div class="span2 status-title">
          <div class="alert alert-info" style="margin-left:20px" rel="tooltip" data-placement="right">
          </div>
        </div>
        <div class="span6 status-hourly">
          <% 25.times { %>
          <span class="label">00</span>
          <% } %>
        </div>
        <div class="span4 status-daily">
          <% 8.times { %>
          <span class="label">00/00</span>
          <% } %>
        </div>
      </div>
    </div>

    <div id="timezones" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aaa" aria-hiden="true">
      <div class="modal-header">
        Choose Time Zone
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
          <% @zones.each { |k, v| %>
          <li <%= 'class="active"' if v["string"] == @timezone %> data-timezone="<%= v["string"] %>">
            <a href="/?timezone=<%= v["encode"] %>"><%= k %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="modal-footer">

      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>


