<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HealthStatus</title>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="brand muted"><a href="/">HealthStatus</a></div>
        <ul class="nav">
          <li><a id="refresh" href="#"><i class="icon-refresh"></i>Refresh</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="active"><a href="#timezones" data-toggle="modal"><%= @timezone %></a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <% @status.each { |service| %>
      <div class="row service-row shown-row" id="service-<%= service[:id] %>" data-url="/api/v2/<%= u(service[:name]) %>?timezone=<%= u(@timezone) %>">
        <div class="span2 status-title">
          <div class="alert alert-info" rel="tooltip" data-title="<%= service[:name] %>" data-placement="right">
            <a class="accordion-toggle alert alert-info" data-toggle="collapse" data-parent="#service-<%= service[:id] %>" href="#service-<%= service[:id] %>-applications">
              <strong><%= service[:name] %></strong>
            </a>
          </div>
        </div>
        <div class="span6 status-hourly">
          <% 25.times { %>
          <span class="label">00</span>
          <% } %>
        </div>
        <div class="span4 status-daily">
          <% 8.times { %>
          <span class="label">00/00</span>
          <% } %>
        </div>
      </div>

      <div class="service-accordion accordion-body collapse" id="service-<%= service[:id] %>-applications">
        <% service[:applications].each { |application| %>
        <div class="row application-row" id="application-<%= application[:id] %>" data-url="/api/v2/<%= u(service[:name]) %>/<%= u(application[:name]) %>?timezone=<%= u(@timezone) %>">
          <div class="span2 status-title">
            <div class="alert alert-info" style="margin-left:10px" rel="tooltip" data-title="<%= application[:name] %>" data-placement="right">
              <a class="accordion-toggle alert alert-info" data-toggle="collapse" data-parent="#application-<%= application[:id] %>" href="#application-<%= application[:id] %>-metrics">
                <strong><%= application[:name] %></strong>
              </a>
            </div>
          </div>
          <div class="span6 status-hourly">
            <% 25.times { %>
            <span class="label">00</span>
            <% } %>
          </div>
          <div class="span4 status-daily">
            <% 8.times { %>
            <span class="label">00/00</span>
            <% } %>
          </div>
        </div>

        <% unless application[:metrics].nil? %>
        <div class="application-accordion accordion-body collapse" id="application-<%= application[:id] %>-metrics">
          <% application[:metrics].each { |metric| %>
          <div class="row metric-row" id="metric-<%= metric[:id] %>" data-url="/api/v2/<%= u(service[:name]) %>/<%= u(application[:name]) %>/<%= u(metric[:name]) %>?timezone=<%= u(@timezone) %>">
            <div class="span2 status-title">
              <div class="alert alert-info" style="margin-left:20px" rel="tooltip" data-title="<%= metric[:name] %>" data-placement="right">
                  <%= metric[:name] %>
              </div>
            </div>
            <div class="span6 status-hourly">
              <% 25.times { %>
              <span class="label">00</span>
              <% } %>
            </div>
            <div class="span4 status-daily">
              <% 8.times { %>
              <span class="label">00/00</span>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
        <% end %>

        <% } %>
      </div>
      <hr/>

      <% } %>
    </div> <!-- /container -->

    <div id="timezones" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aaa" aria-hiden="true">
      <div class="modal-header">
        Choose Time Zone
      </div>
      <div class="modal-body">
        <ul class="nav nav-pills nav-stacked">
          <% @zones.each { |k, v| %>
          <li <%= "class=\"active\"" if v["string"] == @timezone  %>>
            <a href="/?timezone=<%= v["encode"] %>"><%= k %></a>
          </li>
          <% } %>
        </ul>
      </div>
      <div class="modal-footer">

      </div>
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>

  </body>
</html>


