<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HealthStatus</title>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
      }
      .navbar-inner .brand {
        margin: 0 10px;
      }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="brand muted">HealthStatus</div>
        <ul class="nav pull-right">
          <li class="active"><a href="/">Home</a></li>
        </ul>
      </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="span12">
          <table class="table table-condensed">

            <tr>
              <th>Application</th>
              <th>Hourly</th>
              <th>Daily</th>
            </tr>
            <% @apps.each { |app| %>
            <tr class="<%= row_name(app["current"]["status"]) %>">
              <td>
                <h4><%= app["application"] %></h4>
              </td>

              <td>
          <% app["hourly"].each_index { |i| d = app["hourly"][i] %>
            <span class="label label-<%= label_name(d["status"]) %>">
              <%= d["datetime"].strftime("%H") %>
            </span>
            <%= "<br/>" if i == 12 %>
          <% } %>
              </td>

              <td>
          <% app["daily"].each_index { |i| d = app["daily"][i] %>
            <span class="label label-<%= label_name(d["status"]) %>">
              <%= d["datetime"].strftime("%m/%d") %>
            </span>
            <%= "<br/>" if i == 3 %>
          <% } %>
              </td>
            </tr>
            <% } %>
         </table>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>
</html>


